AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_INSTANCE_NAME=
AZURE_OPENAI_API_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=2025-03-01-preview
AZURE_OPENAI_API_EMBEDDINGS_DEPLOYMENT_NAME=

DB_HOST=postgres
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

PLANKA_BASE_URL=http://localhost:3333
PLANKA_TOKEN=
PLANKA_DEFAULT_BOARD_ID=
PLANKA_DEFAULT_LIST_ID=
PLANKA_SECRET_KEY=changeme_in_production
PLANKA_ADMIN_EMAIL=admin@scrum.local
PLANKA_ADMIN_PASSWORD=admin
PLANKA_ADMIN_NAME=Admin
PLANKA_ADMIN_USERNAME=admin
